@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inter";
  background-image: url("/images/dotted-bg.png");
}

/* Section */
.section {
  @apply min-h-screen flex flex-col justify-between;
}

/* Navbar */
.navbar {
  @apply w-auto flex flex-row justify-between py-10 px-4 md:px-6 lg:px-16 xl:px-28 2xl:px-0 max-w-7xl mx-auto;
}

.navbar-item {
  @apply text-base font-medium text-neutral-900 pl-8;
}

/* Footer */
.footer {
  @apply flex flex-col justify-between bg-neutral-900 py-16;
}

.footer-item {
  @apply flex flex-col text-lg items-center text-neutral-400;
}

/* Logo */
.global-logo {
  @apply h-12 w-12;
}

/* Profile */
.profile {
  align-items: center;
  border: #1e1e1e solid 4px;
  border-radius: 50%;
}

/* Markdown */

.about h1 {
  @apply text-4xl font-bold text-red-500 leading-relaxed my-6 scroll-mt-16 lg:scroll-mt-0;
}

.markdown h1 {
  @apply text-4xl font-bold text-neutral-900 leading-relaxed my-6 scroll-mt-16 lg:scroll-mt-0;
}

.markdown h2 {
  @apply text-3xl text-neutral-900 font-bold leading-relaxed my-6 scroll-mt-16 lg:scroll-mt-0;
}

.markdown h3 {
  @apply text-2xl text-neutral-900 font-bold leading-relaxed my-5 scroll-mt-16 lg:scroll-mt-0;
}

.markdown h4 {
  @apply text-xl text-neutral-900 font-bold leading-relaxed my-6 scroll-mt-16 lg:scroll-mt-0;
}

.markdown h5 {
  @apply text-base text-neutral-900 font-bold leading-relaxed my-6 scroll-mt-16 lg:scroll-mt-0;
}

.markdown h6 {
  @apply text-sm text-neutral-900 font-bold leading-relaxed my-6 scroll-mt-16 lg:scroll-mt-0;
}

.markdown p {
  @apply my-5 text-lg font-normal text-neutral-900 leading-relaxed;
}

.markdown strong {
  @apply font-bold;
}
