@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/* Layout */
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inter";
  background-image: url("../images/dotted-bg.png");
}

/* Container */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Breakpoint-md */
@media only screen and (min-width: 0px) {
  .container {
    padding: 24px 16px 0px 16px;
  }
}

/* Breakpoint-md */
@media only screen and (min-width: 768px) {
  .container {
    padding: 24px 24px 0px 24px;
  }
}

/* Breakpoint-lg */
@media only screen and (min-width: 1024px) {
  .container {
    padding: 24px 64px 0px 64px;
  }
}

/* Breakpoint-xl */
@media only screen and (min-width: 1280px) {
  .container {
    padding: 24px 112px 0px 112px;
  }
}

/* Breakpoint-2xl */
@media only screen and (min-width: 1536px) {
  .container {
    padding: 24px 128px 0px 128px;
  }
}

/* Navbar */
.navbar {
  width: auto;
  padding: 24px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  padding-left: 24px;
  font-size: var(--text-base);
  font-weight: var(--weight-med);
}

/* Breakpoint-md */
@media only screen and (min-width: 0px) {
  .navbar {
    padding: 24px 16px 0px 16px;
  }
}

/* Breakpoint-md */
@media only screen and (min-width: 768px) {
  .navbar {
    padding: 24px 24px 0px 24px;
  }
}

/* Breakpoint-lg */
@media only screen and (min-width: 1024px) {
  .navbar {
    padding: 24px 64px 0px 64px;
  }
}

/* Breakpoint-xl */
@media only screen and (min-width: 1280px) {
  .navbar {
    padding: 24px 112px 0px 112px;
  }
}

/* Breakpoint-2xl */
@media only screen and (min-width: 1536px) {
  .navbar {
    padding: 24px 128px 0px 128px;
  }
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 40px 10%;
}

.footer-item {
  display: flex;
  justify-content: center;
  margin-top: var(--length-sm2);
  font-size: var(--length-md1);
  color: var(--color-label);
}

.global-logo {
  height: var(--length-lg2);
}
